.contact .form-area{
    width: 500px;
    margin: 0 auto;
}
.contact .form-area .btn{
    background-color: #e94949;
    color: white;
    font-weight: 500;
    transition: .3s;
}
.contact .form-area .btn:hover{
    color: #e94949;
    background-color: white;
    border: 2px solid #e94949;
}