.contact .btn{
    background: #e94949;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px 30px;
    transition: .3s;
}
.contact .btn:hover{
    background: white;
    color:  #e94949;
    border: 1px solid  #e94949;
}