.navigation{
    background-color: #222;
}
.navigation .navbar-brand{
    color: white;
    font-weight: 600;
    font-size: 30px;
}
.navigation .navbar-toggler{
    background-color: #e94949;
}
nav .options a{
    color: #e94949;
}
nav .options a:hover{
    color: wheat;
}
.navigation .btn a{
    color: white;
}
.navigation .btn:hover{
    background-color: white;
}
.navigation .btn:hover a{
    color:  rgb(233, 73, 73);
}
.navigation .btn a:hover{
    text-decoration: none;
}
.navigation .btn{
    padding: 7px 30px;
    background-color:  rgb(233, 73, 73);
    transition: .3s;
}